---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
	<h1>hello</h1>
	<p>Welcome to Astro.</p>
	</main>
</Layout>


<style is:global>
@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather/merriweather-latin-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Cabin';
  src: url('/fonts/cabin/cabin-latin-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-weight:normal
}
p {
  font-family: 'Merriweather', serif;
  font-weight:normal
}
</style>
	